.contacts {
  display: flex;
  justify-content: space-between;
  height: 270px;
  margin-top: 100px;
  & img {
    width: 100px;
    height: 100px;
  }
}

.contacts__data {
  display: flex;
  gap: 70px;
}

.contacts__data_list {
  list-style-type: none;
  padding-left: 0;
}
.contacts__data_section {
  color: rgb(47, 42, 55);
  & h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }
  & ul {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    & li {
      margin-top: 20px;
    }
  }
}
