.promo__component {
  // display: block;
  padding-top: 100px;
  color: #f3f7ef;
}
.promoComponent__title {
  font-size: 40px;
  line-height: 46px;
  font-weight: 800;
}
.promoComponent__description {
  margin-top: 15px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  width: 500px;
}
.promoComponent__subTitle {
  margin-top: 50px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
  color: #6bffca;
}
.promoComponent__subDescription {
  margin-top: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  width: 250px;
}
.promoComponent__button {
  margin-top: 70px;
}
