.choose_section {
  position: relative;
  top: -73px;
  height: 1850px;
  // width: 100%;

  // display: flex;
  justify-content: center;
  background: center / contain no-repeat
    url("../../../assets/img/ChooseBackground.png");
}

.choose {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.choose__title {
  margin-top: 170px;

  color: #f3f7ef;
  font-size: 40px;
  font-weight: 800;
  width: 491px;
}
.choose__checkboxes {
  display: flex;

  flex-wrap: wrap;
  margin-top: 60px;
  // flex-direction: column;
}
