.header {
  height: 110px;
  background-color: #f3f7ef;
  box-shadow: 0px 0px 10px #2f2a37;
  display: flex;
  width: 100%;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2f2a37;
  font-size: 18px;
}

.logo {
  width: fit-content;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 60px;
}
.language {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.languageItem {
  margin-right: 10px;
}

.menuItem {
  cursor: pointer;
  /* box-sizing: border-box; */
  border-radius: 10px;
  width: 130px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem:hover {
  border: solid 1px gray;
}
