* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;

  /* background-color: #cbcbcb; */
  background-color: #f3f7ef;
}

.container {
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
  width: 1200px;
}
main {
  /* margin-top: 120px; */
}

.checkBoxWrapper {
  display: flex;
  flex-wrap: wrap;
}
