* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
#root {
  height: 50vh;
  padding: 50px;
}
#root > .weather-grid {
  display: grid;
  gap: 30px;
  height: 100%;
}
h1 {
  text-align: center;
  color: blue;
}

.weather-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.weather-card hr {
  border: 1px solid #fff8;
  width: 100%;
}
.weather-card i {
  font-size: 30px;
  color: #fffa;
}
.weather-card h3 {
  font-weight: 500;
  font-size: 24px;
}
.weather-grid {
  display: grid;
  * {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  #root {
    height: 100vh;
    padding: 50px;
  }
  #root > div {
    display: grid;
    gap: 30px;
    height: 100%;
  }

  #root > div > * {
    background-color: rgba(192, 192, 192, 0.2);
  }

  h1 {
    text-align: center;
    color: blue;
    margin: 0;
  }

  .weather-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
    color: #fffa;
  }
  .weather-card hr {
    border: 1px solid #fff8;
    width: 100%;
  }
  .weather-card i {
    font-size: 30px;
  }
  .weather-card h3 {
    font-weight: 500;
    font-size: 24px;
  }

  .weather-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: flex-start;
  }
  grid-template-columns: repeat(5, 1fr);
  align-content: flex-start;
}

.checkBoxWrapper {
  display: flex;
  flex-wrap: wrap;
}
